@using AyodhyaYatra_Web.Resources;
@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var masterYatraList = GetYatra();
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.About</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.About >> </a> </li> <li class="active">@Resource.OverviewandConcept</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-962" class="post-962 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="962" class="elementor elementor-962">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-3c9dec7 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="3c9dec7" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-84c440b" data-id="84c440b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-f769b09 elementor-widget elementor-widget-Intro_Block" data-id="f769b09" data-element_type="widget" data-widget_type="Intro_Block.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="w-100 position-relative">
                                                    <div class="container">
                                                        <div class="tq-sec-title-wrapper d-flex flex-column align-items-center text-center position-relative w-100">
                                                            <div class="tq-sec-title d-flex flex-column align-items-center text-center">
                                                                <img decoding="async" class="img-fluid" src="../wp-content/plugins/ingeniofy-plus/assets/images/shape2.png" alt="">
                                                                <span> @Resource.WelcomeAyodhyaDham</span>
                                                                <h3 class="mb-0">@Resource.OverviewandConcept </h3>
                                                            </div><!-- Section Title -->
                                                        </div><!-- Section Title Wrapper -->
                                                        <div class="tq-about-wrapper position-relative w-100">
                                                            <div class="row">
                                                                <div class="col-md-12 col-sm-12">

                                                                    <p style="text-align: justify">@Resource.AboutDescription</p>
                                                                    <!--<ul class="list">-->
                                                                    @*<li>@Resource.14KosiYatra</li>
                                                                        <li>@Resource.5KosiParikrama</li>
                                                                        <li>@Resource.84KosiParikrama</li>*@
                                                                    <!--@foreach (var yatra in masterYatraList)
                                                                        {
                                                                            <li id="menu-item-723" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-723"><a href="/Home/YatraDetail?id=@yatra.Id">@yatra.EnName</a></li>
                                                                        }
                                                                    </ul>-->
                                                                    <!-- About Cap -->
                                                                </div>

                                                            </div>
                                                        </div><!-- About Wrapper -->
                                                        <!-- About Image -->
                                                        <div class="cause-sec remove-ext5">
                                                            <div class="row">

                                                                <div class="col-md-4 col-sm-6 col-lg-4 ">
                                                                    <div class="cause-bx brd-rd5 wow noanim" data-wow-duration="1s">
                                                                        <div class="cause-thmb">
                                                                            <a href="#" itemprop="url">
                                                                                <img fetchpriority="high" decoding="async" width="370" height="285" src="../Content/wp-content/uploads/14 Kosi & 5 Kosi Yatra Route.jpg" title="fdgd" class="attachment-370x285 size-370x285 wp-post-image" alt="" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="cause-inf">
                                                                            <div class="image-count" style="font-size:20px !important">@Resource._14KosiYatra</div>
                                                                            <p>@Resource._14KosiYatra </p>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-4 col-sm-6 col-lg-4 ">
                                                                    <div class="cause-bx brd-rd5 wow noanim" data-wow-duration="1s">
                                                                        <div class="cause-thmb">
                                                                            <a href="#" itemprop="url">
                                                                                <img fetchpriority="high" decoding="async" width="370" height="285" src="../Content/wp-content/uploads/14 Kosi & 5 Kosi Yatra Route 2.jpg" title="fdgd" class="attachment-370x285 size-370x285 wp-post-image" alt="" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="cause-inf">
                                                                            <div class="image-count" style="font-size:20px !important">@Resource._5KosiParikrama</div>
                                                                            <p>@Resource._5KosiParikrama </p>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                                <div class="col-md-4 col-sm-6 col-lg-4 ">
                                                                    <div class="cause-bx brd-rd5 wow noanim" data-wow-duration="1s">
                                                                        <div class="cause-thmb">
                                                                            <a href="#" itemprop="url">
                                                                                <img fetchpriority="high" decoding="async" width="370" height="285" src="../Content/wp-content/uploads/84 Kosi Yatra Map.jpg" title="fdgd" class="attachment-370x285 size-370x285 wp-post-image" alt="" />
                                                                            </a>
                                                                        </div>
                                                                        <div class="cause-inf">
                                                                            <div class="image-count" style="font-size:20px !important">@Resource._84KosiParikrama</div>
                                                                            <p>@Resource._84KosiParikrama </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="container">
                                                        <div class="tq-fun-facts-wrapper tq-mt-70 position-relative w-100">
                                                            <div class="row">

                                                                <div class="col-md-6 col-sm-12 col-lg-4">
                                                                    <div class="fun-fact-box d-flex flex-column align-items-start position-relative w-100">
                                                                        <h4 class="mb-0">
                                                                            <span class="tq-text-theme">
                                                                                <span class="counter">62</span>
                                                                            </span>
                                                                            @Resource.Ghat
                                                                        </h4>
                                                                        <p class="mb-0">@Resource.Ghatcount</p>
                                                                    </div><!-- Fun Fact Box -->
                                                                </div>


                                                                <div class="col-md-6 col-sm-12 col-lg-4">
                                                                    <div class="fun-fact-box d-flex flex-column align-items-start position-relative w-100">
                                                                        <h4 class="mb-0">
                                                                            <span class="tq-text-theme">
                                                                                <span class="counter">120</span>
                                                                                K
                                                                            </span>
                                                                            @Resource.Growing
                                                                        </h4>
                                                                        <p class="mb-0">@Resource.Growingcount</p>
                                                                    </div><!-- Fun Fact Box -->
                                                                </div>


                                                                <div class="col-md-6 col-sm-12 col-lg-4">
                                                                    <div class="fun-fact-box d-flex flex-column align-items-start position-relative w-100">
                                                                        <h4 class="mb-0">
                                                                            <span class="tq-text-theme">
                                                                                <span class="counter">150</span>
                                                                                +
                                                                            </span>
                                                                            @Resource.Temples
                                                                        </h4>
                                                                        <p class="mb-0">@Resource.Templecount</p>
                                                                    </div><!-- Fun Fact Box -->
                                                                </div>


                                                            </div>
                                                        </div><!-- Fun Facts Wrapper -->
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>


                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>
<div class="popup" id="gallery-popup">
    <button id="btn-closePupup" class="close">X</button>
    <button id="btn-pre" class="nav-button prev">❮</button>
    <img id="popup-img" src="" alt="Popup Image">
    <button id="btn-next" class="nav-button next">❯</button>
    <div class="dots" id="dots-container">
        @for (int i = 0; i < 3; i++)
        {
            <span class="dot" onclick="jumpToImage(@i)"></span>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        function getQueryParams() {
            let params = {};
            window.location.search.substr(1).split("&").forEach(function (item) {
                let pair = item.split("=");
                params[pair[0]] = decodeURIComponent(pair[1]);
            });
            return params;
        }

        // Get the query parameters
       /* const queryParams = getQueryParams();*/

        // Check if the specific parameter is present and its value
        if (queryParams['hideHeader'] === 'true') {
            $('#header').hide();
            $('#page-footer').hide();
        }
        else {
            $('#header').show();
           $('#page-footer').show();
       }
   });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/PhotoGallery"]').parent().addClass('active')
            var currentIndex = 0;
        var images = ["../Content/wp-content/uploads/14 Kosi & 5 Kosi Yatra Route.jpg", "../Content/wp-content/uploads/14 Kosi & 5 Kosi Yatra Route 2.jpg","../Content/wp-content/uploads/84 Kosi Yatra Map.jpg"];

    function openPopup(index) {
    debugger;
        currentIndex = index;
        updatePopupImage();
        document.getElementById('gallery-popup').style.display = 'flex';
    }

        $("#btn-closePupup").click(() => {
            document.getElementById('gallery-popup').style.display = 'none';
        });

        $("#btn-next").click(() => {
            debugger;
            currentIndex = (currentIndex + 1) % images.length;
            updatePopupImage();
        });

        $("#btn-pre").click(() => {
            debugger;
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            updatePopupImage();
        });

        document.querySelectorAll('.attachment-370x285').forEach((img, index) => {
            img.addEventListener('click', () => openPopup(index));
        });

        function updatePopupImage() {
            document.getElementById('popup-img').src = images[currentIndex];
            updateDots(currentIndex);
        }



        updateDots(currentIndex);
    });
    function jumpToImage(index) {
        var images = ["../Content/wp-content/uploads/14 Kosi & 5 Kosi Yatra Route.jpg", "../Content/wp-content/uploads/14 Kosi & 5 Kosi Yatra Route 2.jpg","../Content/wp-content/uploads/84 Kosi Yatra Map.jpg"];
        document.getElementById('popup-img').src = images[index];
        updateDots(index);
    }
    function updateDots(currentIndexParam) {
        var dots = document.querySelectorAll('.dot');
        dots.forEach((dot, index) => {
            if (index === currentIndexParam) {
                dot.classList.add('active');
            } else {
                dot.classList.remove('active');
            }
        });
    }
</script>
<style>
    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 10000000;
    }

        .popup img {
            max-width: 90%;
            max-height: 90%;
        }

        .popup .nav-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.7);
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .popup .prev {
            left: 10px;
        }

        .popup .next {
            right: 10px;
        }

        .popup .close {
            position: absolute;
            top: 10px;
            right: 10px;
            background: rgba(255, 255, 255, 0.7);
            border: none;
            padding: 10px;
            cursor: pointer;
        }

    .dots {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }

        .dot.active {
            background-color: #717171;
        }

    .attachment-370x285 {
        cursor: pointer;
    }
    .tq-mt-70 {
        margin-top: 18.375rem  !important;
    }
</style>