@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "Directory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.Directory</h1>
                    <ol class="breadcrumb brd-rd30"><li><a href="../index.html">@Resource.Home >></a> </li> <li class="active">@Resource.Directory</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-128" class="post-128 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="128" class="elementor elementor-128">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-828c3ac elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="828c3ac" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fece30c" data-id="fece30c" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-347fec9 elementor-widget elementor-widget-plus_quranPDF" data-id="347fec9" data-element_type="widget" data-widget_type="plus_quranPDF.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="w-100 tq-pt-120 tq-gray-layer tq-opc8 tq-pb-130 position-relative">
                                                    <div class="tq-fixed-bg" style="background-image: url(../Content/wp-content/uploads/bglotus.png);"></div>
                                                    <div class="container">
                                                        <div class="tq-quran-arabic-boxes position-relative w-100">
                                                            <div class="row justify-content-center">


                                                                <div class="col-md-3 col-sm-4 col-lg-2">
                                                                    <div class="tq-quran-box d-flex flex-column align-items-center position-relative w-100">
                                                                        <p style="text-align:center;"> <b>@Resource.StaffDirectory</b><br>16/04/2017</p>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fas fa-download"></i>Download PDF
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-sm-4 col-lg-2">
                                                                    <div class="tq-quran-box d-flex flex-column align-items-center position-relative w-100">
                                                                        <p style="text-align:center;"> <b>@Resource.StaffDirectory</b><br>16/04/2017</p>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fas fa-download"></i>Download PDF
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-sm-4 col-lg-2">
                                                                    <div class="tq-quran-box d-flex flex-column align-items-center position-relative w-100">
                                                                        <p style="text-align:center;"> <b>@Resource.StaffDirectory</b><br>16/04/2017</p>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fas fa-download"></i>Download PDF
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-sm-4 col-lg-2">
                                                                    <div class="tq-quran-box d-flex flex-column align-items-center position-relative w-100">
                                                                        <p style="text-align:center;"> <b>@Resource.StaffDirectory</b><br>16/04/2017</p>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fas fa-download"></i>Download PDF
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-sm-4 col-lg-2">
                                                                    <div class="tq-quran-box d-flex flex-column align-items-center position-relative w-100">
                                                                        <p style="text-align:center;"> <b>@Resource.StaffDirectory</b><br>16/04/2017</p>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fas fa-download"></i>Download PDF
                                                                        </a>
                                                                    </div>
                                                                </div>

                                                                <div class="col-md-3 col-sm-4 col-lg-2">
                                                                    <div class="tq-quran-box d-flex flex-column align-items-center position-relative w-100">
                                                                        <p style="text-align:center;"> <b>@Resource.StaffDirectory</b><br>16/04/2017</p>
                                                                        <a href="#" target="_blank">
                                                                            <i class="fas fa-download"></i>Download PDF
                                                                        </a>
                                                                    </div>
                                                                </div>








                                                            </div>
                                                        </div>
                                                        <div class="tq-view-all d-inline-block tq-mt-55 text-center w-100">
                                                            <a class="tq-theme-btn tq-bg-theme rounded-pill" href="Download%20PDF.html">@Resource.ViewAll</a>
                                                        </div><!-- View All -->
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>
