@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var apiURL = Convert.ToString(ViewData["APIUrl"]);
}
<input type="hidden" value="@apiURL" id="hdnAPIURL" />
<script>
    window.onload
    $(document).ready(function () {
        $('#feedbackForm').submit(function (event) {
            event.preventDefault();
            var apiBaseUrl = $('#hdnAPIURL').val();
            var formData = {
                id: 0,
                name: $('#name').val(),
                emailId: $('#emailId').val(),
                contactNumber: $('#contactNumber').val(),
                address: $('#address').val(),
                feedbackComment: $('#feedbackComment').val()
            };
            debugger;
            $.ajax({
                url: apiBaseUrl + 'feedback/add/feedback', // Update this URL to your API endpoint
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    debugger;
                    $('#responseMessage').text('Feedback submitted successfully!');
                    $('#name').val(''),
                        $('#emailId').val(''),
                        $('#contactNumber').val(''),
                        $('#address').val(''),
                        $('#feedbackComment').val('')
                },
                error: function (xhr, status, error) {
                    $('#responseMessage').text('An error occurred: ' + xhr.responseText);
                }
            });
        });
    });
</script>
<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.Feedback</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.Home >></a> </li> <li class="active">@Resource.Feedback</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-115" class="post-115 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="115" class="elementor elementor-115">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-17675fd elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="17675fd" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cbc0503" data-id="cbc0503" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-286a6d2 elementor-widget elementor-widget-info_contact" data-id="286a6d2" data-element_type="widget" data-widget_type="info_contact.default">
                                        <div class="elementor-widget-container">


                                            <section class="contact-sec">
                                                <div class="gap">
                                                    <div class="container">
                                                        <div class="sec-tl text-center">
                                                            <h2 itemprop="headline">@Resource.SubmityourFeedbackForm</h2> <span class="theme-clr">@Resource.FeedbackH1</span>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                <div class="mrg10">
                                                                    <span>@Resource.FeedbackH2</span>
                                                                    <br>
                                                                    <br>
                                                                    <div style="text-align: center; margin-bottom: 30px; color: green; font-size: 31px;" id="responseMessage"></div>
                                                                    <div class="wpcf7 no-js" id="wpcf7-f2027-p115-o1" lang="en-US" dir="ltr">
                                                                        <form id="feedbackForm" class="wpcf7-form init" aria-label="Contact form">
                                                                            <div class="row mrg10">
                                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                                    <p>
                                                                                        Name is Required*<span class="wpcf7-form-control-wrap" data-name="text-471">
                                                                                            <input size="40" id="name" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required brd-rd5" aria-required="true" aria-invalid="false" placeholder="Name is Required" value="" type="text" name="text-471" />
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                                    <p>
                                                                                        Valid E-mail Id is Required*<span class="wpcf7-form-control-wrap" data-name="text-427">
                                                                                            <input size="40" id="emailId" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required brd-rd5" aria-required="true" aria-invalid="false" placeholder="Valid E-mail Id is Required*" value="" type="email" name="text-427" />
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                                    <p>
                                                                                        10 Digits Contact Number is Required*<span class="wpcf7-form-control-wrap" data-name="email-177">
                                                                                            <input size="40" id="contactNumber" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email brd-rd5" aria-required="true" aria-invalid="false" placeholder="10 Digits Contact Number is Required*" value="" type="number" name="email-177" />
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="col-md-6 col-sm-6 col-lg-6">
                                                                                    <p>
                                                                                        Complete Postal Address is Required<span class="wpcf7-form-control-wrap" data-name="text-487">
                                                                                            <input size="40" id="address" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required brd-rd5" aria-required="true" aria-invalid="false" placeholder="Complete Postal Address is Required" value="" type="text" name="text-487" />
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                                    <p>
                                                                                        Comments/Suggestion is Required<span class="wpcf7-form-control-wrap" data-name="textarea-678">
                                                                                            <textarea cols="40" id="feedbackComment" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required brd-rd5" aria-required="true" aria-invalid="false" placeholder="Comments/Suggestion is Required" name="textarea-678"></textarea>
                                                                                        </span>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="col-md-12 col-sm-12 col-lg-12">
                                                                                    <p>
                                                                                        <input class="wpcf7-form-control wpcf7-submit has-spinner tq-theme-btn tq-bg-theme rounded-pill" type="Submit" value="Send Now" />
                                                                                    </p>
                                                                                </div>
                                                                            </div><div class="wpcf7-response-output" aria-hidden="true"></div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	