@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "Helpline";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.Helpline</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.Home >></a> </li> <li class="active">@Resource.Helpline</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-115" class="post-115 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="115" class="elementor elementor-115">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-17675fd elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="17675fd" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-cbc0503" data-id="cbc0503" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-286a6d2 elementor-widget elementor-widget-info_contact" data-id="286a6d2" data-element_type="widget" data-widget_type="info_contact.default">
                                        <div class="elementor-widget-container">


                                            <section class="contact-sec">
                                                <div class="gap">
                                                    <div class="container">
                                                        <div class="sec-tl text-center">
                                                            <h2 itemprop="headline">@Resource.Helpline</h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12 col-sm-12 col-lg-12">
                                                                <div class="mrg10">
                                                                    <table class="border" style="text-align: center;">
                                                                        <thead>
                                                                            <tr class="border">
                                                                                <th scope="col">@Resource.SRNo </th>
                                                                                <th scope="col">@Resource.Name </th>
                                                                                <th scope="col">@Resource.Number</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr class="border">
                                                                                <td>1.</td>
                                                                                <td>@Resource.Police</td>
                                                                                <td>  112     </td>

                                                                            </tr>
                                                                            <tr>
                                                                        </tbody>
                                                                    </table>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	