@using AyodhyaYatra_Web.Models;
@using System.Linq;
@{
    ViewBag.Title = "Other Attraction";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var attractionById = ViewData["getAttractionByTypeId"] as List<AttractionModel>;
}


<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/temple.jpg);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">Tourist Guide</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="../index.html">Tourist Guide >> </a> </li> <li class=" active">@attractionById.FirstOrDefault().AttractionType</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-55" class="post-55 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="55" class="elementor elementor-55">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-0b462d4 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="0b462d4" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-0982b18" data-id="0982b18" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-b7d73b6 elementor-widget elementor-widget-Articles_News" data-id="b7d73b6" data-element_type="widget" data-widget_type="Articles_News.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="w-100 tq-pt-120 tq-pb-110 position-relative">
                                                    <div class="container">
                                                        <div class="tq-recent-posts position-relative w-100">
                                                            <div class="row justify-content-center">

                                                                @foreach (var masterData in attractionById)
                                                                {
                                                                    <div class="col-md-6 col-sm-12 col-lg-4">
                                                                        <div class="tq-recent-post d-flex flex-column align-items-start position-relative w-100">
                                                                            <div class="tq-recent-post-img position-relative overflow-hidden w-100">

                                                                                <a href="javascript:void(0);">
                                                                                    <img class="img-fluid w-100"
                                                                                         src="@(masterData.Images[0]!=null? "https://api.ayodhya-dham.in/"+masterData.Images[0].FilePath:"")"
                                                                                         alt="test" loading="lazy">
                                                                                </a>
                                                                            </div><!-- Recent Post Image -->
                                                                            <div class="tq-recent-cap d-flex flex-column position-relative w-100">
                                                                                <h4 class="mb-0"><a href="#">@masterData.EnName</a></h4>
                                                                                <ul class="tq-post-meta d-flex align-items-center list-unstyled mb-0">
                                                                                    <li class="tq-text-theme">
                                                                                        <a itemprop="url" href="#">Category</a>
                                                                                    </li>
                                                                                    <li><a href="#"> @masterData.AttractionType</a></li>
                                                                                </ul>
                                                                                <span>
                                                                                    @masterData.EnDescription
                                                                                </span>
                                                                                <!-- Post Meta -->
                                                                            </div><!-- Recent Post Cap -->
                                                                        </div><!-- Recent Post -->
                                                                    </div>
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="tq-view-all d-inline-block tq-mt-55 text-center w-100">
                                                            <a class="tq-theme-btn tq-bg-theme rounded-pill" href="#">More</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	