@using AyodhyaYatra_Web.Models;
@using System.Linq;
@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "NewsAndEvents";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var newsUpdateData = ViewData["newsUpdateData"] as NewsUpdateModel;
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url( wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.NewsEvents</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.Home >></a> </li> <li><a>@Resource.NewsEvents</a>  </li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="container">
            <div class="cause-detail-wrp">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <div class="cause-detail event-detail-desc">
                            <div class="cause-detail-inf brd-rd5">
                                <div class="post-detail-thumb">
                                    @if (newsUpdateData.Images != null && newsUpdateData.Images.Count > 0)
                                    {

                                        <img fetchpriority="high" width="870" height="400"
                                             src="@(newsUpdateData.Images[0]!=null? "https://api.ayodhya-dham.in/"+newsUpdateData.Images[0].FilePath:"")" class="brd-rd5 wp-post-image" alt="" decoding="async" />
                                    }
                                    else
                                    {
                                        <img fetchpriority="high" width="870" height="400" src="wp-content/uploads/photo.webp"
                                             class="brd-rd5 wp-post-image" alt="" decoding="async" />
                                    }

                                </div>
                                <div class="cause-detail-inf-inr">

                                    <ul class="pst-mta">
                                        <li><i class="far fa-calendar-alt theme-clr"></i> <a href="" itemprop="url">@newsUpdateData.EventDate.Value.ToString("dd/MMM/yyyy")</a></li>
                                        <li>
                                            <a href="/Home/Index">
                                                <i class="far fa-user theme-clr"></i>@Resource.AyodhyaDham
                                            </a>
                                        </li>

                                        <li><i class="fas fa-map-marker-alt theme-clr"></i>@Resource.AyodhyaUttarPradesh</li>
                                    </ul>

                                </div>
                            </div>


                            <p>
                                @newsUpdateData.EnDescription
                            </p>

                            <div class="pst-shr-tgs">
                                <div class="scl1 float-left">
                                    <span>@Resource.ShareThis: </span>
                                    <a href="#" title="Facebook" data-toggle="tooltip" data-placement="top" itemprop="url" target="_blank"><i class="fa fa-facebook"></i></a><a href="#" title="Twitter" data-toggle="tooltip" data-placement="top" itemprop="url" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" title="Google Plus" data-toggle="tooltip" data-placement="top" itemprop="url" target="_blank"><i class="fa fa-google-plus"></i></a><a href="#" title="Linkedin" data-toggle="tooltip" data-placement="top" itemprop="url" target="_blank"><i class="fa fa-linkedin"></i></a>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</section>