@using AyodhyaYatra_Web.Models;
@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "PhotoGallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoGalleryImage = ViewData["PhotoGalleryImage"] as List<AttractionImageModel>;
    var imageGroup = photoGalleryImage.Where(x => x.FileType.ToLower() == "image").GroupBy(x => x.ModuleId).ToList();
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.PhotoGallery</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.Gallery >> </a> </li> <li class="active">@Resource.PhotoGallery</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-103" class="post-103 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="103" class="elementor elementor-103">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-bcfca24 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="bcfca24" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a8ca888" data-id="a8ca888" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-26a22e6 elementor-widget elementor-widget-campaign_grid" data-id="26a22e6" data-element_type="widget" data-widget_type="campaign_grid.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="gap excerpt_style">
                                                    <div class="container">
                                                        <div class="cause-sec remove-ext5">
                                                            <div class="row">
                                                                @foreach (var item in imageGroup)
                                                                {
                                                                    <div class="col-md-4 col-sm-6 col-lg-4 ">
                                                                        <div class="cause-bx brd-rd5 wow noanim" data-wow-duration="1s">
                                                                            <div class="cause-thmb">
                                                                                <a href="#" itemprop="url">
                                                                                    <img fetchpriority="high" decoding="async" style="width:100%;height:285px;"
                                                                                         src="@("https://api.ayodhya-dham.in/"+item.First().FilePath)" title="@item.First().FileType"
                                                                                         class="attachment-370x285 size-370x285 wp-post-image" alt="" />
                                                                                </a>
                                                                            </div>
                                                                            <div class="cause-inf">
                                                                                <div class="image-count" style="font-size:20px !important">@item.First().Remark</div>
                                                                                <div class="image-count">@item.Count() Images</div>
                                                                                <a style="width: 100%;" class="tq-theme-btn tq-bg-theme rounded-pill" href="\home\photogalleryDetail?attractionId=@item.First().ModuleId">
                                                                                    @Resource.Gallery
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }
                                                            </div>
                                                            <div class="row">
                                                                <div class="tq-view-all d-inline-block tq-mt-55 text-center w-100">
                                                                    <a class="tq-theme-btn tq-bg-theme rounded-pill" href="/Home/PhotoGalleryDetails">@Resource.ReadMore</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>
<style>
    .image-count {
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
    }
</style>