@using AyodhyaYatra_Web.Models;
@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "Photo Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var photoGalleryImage = ViewData["PhotoGalleryImage"] as List<AttractionImageModel>;
}
<title>Lightbox Gallery</title>
<script src="~/Content/lightbox-plus-jquery.min.js"></script>
<link href="~/Content/lightbox.min.css" rel="stylesheet" />
<style>
    body {
        text-align: left;
    }

    h2 {
        color: green;
    }

    .gallery {
       
      
    }

        .gallery img {
            width: 95%;
            height: 210px;
            transition: 1s;
            margin:5px;
        
        }

            .gallery img:hover {
                filter: drop-shadow(4px 4px 6px gray);
                transform: scale(1.1);
            }
</style>

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.Gallery</h1>
                    <ol class="breadcrumb brd-rd30">
                        <li class="breadcrumb-item">
                            <a href="#">@Resource.Gallery >> </a>
                        </li>
                        <li class="active">@Resource.PhotoGallery</li>
                    </ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <section class="hero-slider">
                <div class="pr-15 pl-15">
                    <div class="row">
                        @*@Html.Partial("_Galary_SideMenu", noticeType)*@
                        <div class="col w_content mt-0">
                            <hr>
                            <div class="clr"></div>
                            <div class="gallery">
                                @foreach (var item in photoGalleryImage ?? new List<AttractionImageModel>())
                                {
                                    if (!string.IsNullOrEmpty(item.FilePath))
                                    {
                                        <div class="col-md-4">
                                            <img src="@("https://api.ayodhya-dham.in/"+item.ThumbPath)" title="@item.FileType" loading="lazy" style="min-width:300px;max-height:100%;max-width:100%;min-height:200px;border:1px solid;">

                                        </div>
                                    }
                                    else
                                    {
                                        @*<a src="@item.fileURL"
                                               data-lightbox="mygallery">
                                                <img title="@item.Subject" src="@item.fileURL" style="max-width:100%;max-height:100%">
                                            </a>*@
                                        @*<img title="@item.Subject" src="@item.fileURL" style="max-width:100%;max-height:100%">*@
                                    }
                                }

                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </section>
            <div class="popup" id="gallery-popup">
                <button id="btn-closePupup" class="close">X</button>
                <button id="btn-pre" class="nav-button prev">❮</button>
                <img id="popup-img" src="" alt="Popup Image">
                <button id="btn-next" class="nav-button next">❯</button>
                <div class="dots" id="dots-container">
                    @for (int i = 0; i < photoGalleryImage.Count; i++)
                    {
                        <span class="dot" onclick="jumpToImage(@i)"></span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.navbar-nav').find('li').removeClass('active');
        $('a[href="/Home/PhotoGallery"]').parent().addClass('active')
            var currentIndex = 0;
    var images = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(photoGalleryImage.Select(i => "https://api.ayodhya-dham.in/" + i.FilePath)));

    function openPopup(index) {
    debugger;
        currentIndex = index;
        updatePopupImage();
        document.getElementById('gallery-popup').style.display = 'flex';
    }

        $("#btn-closePupup").click(() => {
            document.getElementById('gallery-popup').style.display = 'none';
        });

        $("#btn-next").click(() => {
            debugger;
            currentIndex = (currentIndex + 1) % images.length;
            updatePopupImage();
        });

        $("#btn-pre").click(() => {
            debugger;
            currentIndex = (currentIndex - 1 + images.length) % images.length;
            updatePopupImage();
        });

        document.querySelectorAll('.gallery img').forEach((img, index) => {
            img.addEventListener('click', () => openPopup(index));
        });

        function updatePopupImage() {
            document.getElementById('popup-img').src = images[currentIndex];
            updateDots(currentIndex);
        }



        updateDots(currentIndex);
    });
    function jumpToImage(index) {
        debugger;
        var images = @Html.Raw(System.Text.Json.JsonSerializer.Serialize(photoGalleryImage.Select(i => "https://api.ayodhya-dham.in/" + i.FilePath)));
        document.getElementById('popup-img').src = images[index];
        updateDots(index);
    }
    function updateDots(currentIndexParam) {
        var dots = document.querySelectorAll('.dot');
        dots.forEach((dot, index) => {
            if (index === currentIndexParam) {
                dot.classList.add('active');
            } else {
                dot.classList.remove('active');
            }
        });
    }
</script>
<style>

/*@@media screen and (max-width: 400px) {
   .gallery
    {
        
        flex-wrap: wrap;
    }
    }*/

    /* Add custom styles here */
    .gallery {
        display: flex;
        flex-wrap: wrap;
    }

        .gallery img {
            margin: 5px;
            cursor: pointer;
            border-radius: 18px;
        }

    .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        justify-content: center;
        align-items: center;
        z-index: 10000000;
    }

        .popup img {
            max-width: 90%;
            max-height: 90%;
        }

        .popup .nav-button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(255, 255, 255, 0.7);
            border: none;
            padding: 10px;
            cursor: pointer;
        }

        .popup .prev {
            left: 10px;
        }

        .popup .next {
            right: 10px;
        }

        .popup .close {
            position: absolute;
            top: 10px;
            right: 10px;
            background: rgba(255, 255, 255, 0.7);
            border: none;
            padding: 10px;
            cursor: pointer;
        }

    .dots {
        position: absolute;
        bottom: 20px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .dot {
        height: 15px;
        width: 15px;
        margin: 0 5px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        cursor: pointer;
    }

        .dot.active {
            background-color: #717171;
        }
</style>
<script>

    $("#nav-btn").click(function () {
        $("nav1").toggle("slow");
    });


</script>


