@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "Terms & Condition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.TermsAndConditions</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.Policies >> </a> </li> <li class="active">@Resource.TermsAndConditions</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>
<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-962" class="post-962 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="962" class="elementor elementor-962">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-3c9dec7 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default" data-id="3c9dec7" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-84c440b" data-id="84c440b" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-f769b09 elementor-widget elementor-widget-Intro_Block" data-id="f769b09" data-element_type="widget" data-widget_type="Intro_Block.default">
                                        <div class="elementor-widget-container">


                                            <section>
                                                <div class="w-100 position-relative">
                                                    <div class="container">
                                                        <div class="tq-sec-title-wrapper d-flex flex-column align-items-center text-center position-relative w-100">
                                                            <div class="tq-sec-title d-flex flex-column align-items-center text-center">
                                                                <img decoding="async" class="img-fluid" src="../wp-content/plugins/ingeniofy-plus/assets/images/shape2.png" alt="">

                                                                <h3 class="mb-0">@Resource.TermsAndConditions </h3>
                                                            </div><!-- Section Title -->
                                                        </div><!-- Section Title Wrapper -->
                                                        <div class="tq-about-wrapper position-relative w-100">
                                                            <div class="row">
                                                                <div class="col-12">
                                                                    <!--==================Paragraph with image start here=======================-->
                                                                    <div>
                                                                        <p style="text-align:justify">
                                                                            @Resource.TermsAndConditionsP1
                                                                        </p>
                                                                        <p style="text-align:justify">
                                                                            @Resource.TermsAndConditionsP2
                                                                        </p>
                                                                        <p style="text-align:justify">
                                                                            @Resource.TermsAndConditionsP3
                                                                        </p>
                                                                        <p style="text-align:justify">
                                                                            @Resource.TermsAndConditionsP4
                                                                        </p>
                                                                        <p style="text-align:justify">
                                                                            @Resource.TermsAndConditionsP5
                                                                        </p>
                                                                        <p style="text-align:justify">
                                                                            @Resource.TermsAndConditionsP6
                                                                        </p>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="colspexp-container">

                                                                        </div>
                                                                    </div>
                                                                    <p><!--=====================Paragraph with image end here==========================-->
                                                                </div>
                                                            </div>
                                                        </div><!-- About Wrapper -->
                                                        <!-- About Image -->
                                                    </div>
                                                </div>
                                            </section>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	