@using AyodhyaYatra_Web.Models;
@using AyodhyaYatra_Web.Resources;
@{

    ViewBag.Title = "360 Degree Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videos = ViewData["360Video"] as List<AttractionModel>;
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.ThreeSixtydegreeVideoGallery</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.Gallery >> </a> </li> <li class="active">@Resource.ThreeSixtydegreeVideoGallery</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<!-- Page Content Starts -->
<div id="main" class="page-content">
    <div class="container">
        <div class="row">
            <div id="post-103" class="post-103 page type-page status-publish hentry">
                <div data-elementor-type="wp-page" data-elementor-id="103" class="elementor elementor-103">
                    <section class="elementor-section elementor-top-section elementor-element elementor-element-bcfca24 elementor-section-stretched elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="bcfca24" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                        <div class="elementor-container elementor-column-gap-no">
                            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a8ca888" data-id="a8ca888" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-26a22e6 elementor-widget elementor-widget-campaign_grid" data-id="26a22e6" data-element_type="widget" data-widget_type="campaign_grid.default">
                                        <div class="elementor-widget-container">


                                            <section style="margin-top:20px;margin-bottom:40px;">
                                                <div class="gap excerpt_style">
                                                    <div class="container">
                                                        <div class="cause-sec remove-ext5">
                                                            <div class="row">
                                                                @foreach (var item in videos)
                                                                {
                                                                    <div class="col-md-4 col-sm-6 col-lg-4 ">
                                                                        <div class="cause-bx brd-rd5 wow noanim" data-wow-duration="1s">
                                                                            <div class="cause-thmb">
                                                                                <a href="#" itemprop="url">
                                                                                    <iframe width="560" height="315" src="@item.Video360URL" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                                                                                </a>
                                                                            </div>
                                                                            <div class="cause-inf" style="text-align:center;">
                                                                                <h5 itemprop="headline">@item.EnName</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }

                                                            </div>
                                                            <div class="row">
                                                                <div class="tq-view-all d-inline-block tq-mt-55 text-center w-100">
                                                                    <a class="tq-theme-btn tq-bg-theme rounded-pill" href="/Home/ThreeSixtyDegreeGalleryDetail">More</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div><!-- #post-## -->

        </div>
    </div>
</div>	