@using AyodhyaYatra_Web.Resources;
@{
    ViewBag.Title = "UnderConstruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="gap black-layer opc8 inner-banner">
        <div class="fixed-bg set-imagebloc" style="background-image: url(../Content/wp-content/uploads/photo.webp);"></div>
        <div class="container">
            <div class="pg-tp-wrp text-center" style="padding-top:50px">
                <div class="pg-tp-inr">
                    <h1 itemprop="headline">@Resource.UnderConstruction</h1>
                    <ol class="breadcrumb brd-rd30"><li class="breadcrumb-item"><a href="#">@Resource.Home >></a> </li> <li class="active">@Resource.Error404</li></ol>
                </div>
            </div><!-- Page Top Wrap -->
        </div>
    </div>
</section>

<section>
    <div class="gap">
        <div class="container">
            <div class="error-page">
                <div class="error-page-inner">
                    <h1>4<i>0</i>4</h1>
                    <span>@Resource.Error <span class="theme-clr">@Resource.ErrorHeader</span></span>
                    <p itemprop="description">@Resource.ErrorDesc<a class="theme-clr" href="#" itemprop="url">@Resource.BackToHompage</a></p>

                </div>
            </div><!-- Error Page -->
        </div>
    </div>
</section>